<%= form_with(model: tuwen, local: true) do |form| %>
  <% if tuwen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tuwen.errors.count, "error") %> prohibited this tuwen from being saved:</h2>

      <ul>
      <% tuwen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :tuwen_title %>
  </div>

  <!--New-->
  <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>


      <% if form.object.image? %>
          <%= image_tag form.object.image.thumb.url %>
          <%= form.label :remove_image %>
          <%= form.check_box :remove_image %>
      <% end %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :tuwen_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
